/* Modal.css */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popup {
  background-color: #161513;
  padding: 30px;
  border-radius: 10px;
  max-width: 500px;
  width: 90%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  position: relative;
  text-align: center;
}

/* Botão de fechar */
.modal-close-button {
  margin-top: 20px;
  padding: 8px 16px;
  border: none;
  background-color: #000;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition:  0.2s ease;
}

.modal-close-button:hover {
  background-color: #333;
}
