.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
}
.nav-menu{
    display: flex;
    gap: 60px;
    list-style: none;
    font-size: 20px;
    align-items: center;
}
.nav-connector{
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%);
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
}
.nav-connector:hover{
    transform: scale(1.05);
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}
.nav-menu li img{
    display: flex;
    margin: auto;
}
.anchor-link{
    color: white;
    text-decoration: none;

}
.nav-mob-close{
    display: none;
}
.nav-mob-open{
    display: none;
}
.nav-menu li:hover{
        background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
@media (max-width: 768px) {
    .navbar{
        margin: 20px 50px;
    }
    .nav-connector{
        display: none;
    }
    .nav-mob-open{
        display: block;
        position: fixed;
        right: 30px;
        cursor: pointer;
    }
    .nav-mob-close{
        display: block;
        position: relative;
        top:30px;
        left: 290px;
        width:30px;
        cursor: pointer;
    }
    .nav-menu{
        position:fixed;
        flex-direction: column;
        align-items: start;
        top:0;
        gap:30px;
        background-color: #1F0016;
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
    }
    .nav-menu li{
        font-size: 30px;
        padding-left: 100px;
        flex-direction: row;
        gap: 20px;
    }
    
}
@media(max-width: 576px) {
    .nav-menu{
        width: 250px;
    }
    .nav-mob-close{
        left: 180px;
    }
    .nav-menu li{
        padding-left: 50px;
    }
}
@media (max-width: 992px) {
    .navbar{
        margin: 20px 50px;
    }
    .nav-connector{
        display: none;
    }
    .nav-mob-open{
        display: block;
        position: fixed;
        right: 20px;
    }
    .nav-menu{
        position:fixed;
        flex-direction: column;
        align-items: start;
        top:0;
        gap:20px;
        background-color: #1F0016;
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
        font-size: 35px;
    }
    .nav-menu li{
        margin-top: 50px;
        padding-left: 60px;
    }
    .nav-mob-close{
        display: block;
        position: relative;
        top: 3%;
        left: 290px;
        width: 25px;
    }
}
@media (max-width: 1399px) {
    .navbar{
        margin: 10px 30px;
        gap: 10px;
    }
    .nav-connector{
        padding: 15px 20px;
    }
    .navbar li, .nav-connector{
        margin-top: 18px;
    }
    .navbar img{
        margin-top: 5px;
    }
}